@media (max-width: 959px) {
  .VPSidebar {
    overflow: hidden !important;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }

  .VPSidebar .nav {
    height: calc(100% - 32px);
    max-height: calc(100% - 32px);
    overflow-y: auto !important;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y !important;
    padding-bottom: calc(4rem + env(safe-area-inset-bottom));
  }
}
